body{
	font-family: Helvetica, sans-serif;
	padding: 30px 100px;
}

a{
	text-decoration: none;
	color: #333333;
}

a:hover{
	color: #666666;
}

.header img{
	float: right;
	clear: both;
	margin: 0px;
}

.header h1{
	margin: 5px auto;
}

.header h3, h5{
	margin: 5px auto;
}

.header hr{
	margin-top: 30px;
}

.section_title{
	text-align: center;
}

.section_hr{
	width: 50%;
	margin: auto;
}

/* EXPERIENCE */
.dates{
	float: right;
	margin-bottom: 0px;
}

.title{
	margin-top:0px;
}

/* EDUCATION */
.graduation{
	float: right;
	margin-bottom: 0px;
}

.major{
	margin-top:0px;
}
